{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<section class="homepage-hero">
  <h1>{{ page.title }}</h1>
  <p class="hero-subtitle">Welcome to the 4th industrial revolution where tradition meets technology and taste is engineerd and biltong dried to your liking.</p>
  <!-- <img src="/assets/bespoke-logo.png" style="width: 170px;"> -->
</section>

<!-- Centered Tiles -->
<!-- <section class="homepage-tiles">
  <div class="tiles-container">
    <a class="tile" href="functional-description/functional-description">Functional Description</a>
    <a class="tile" href="in-the-box/in-the-box">What's in the box</a>
  </div>
</section> -->

{% endblock %}
