{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<section class="homepage-hero">
  <h1>{{ page.title }}</h1>
  <p class="hero-subtitle">Welcome to the 4th industrial revolution where tradition meets technology, taste is engineerd and biltong dried to your liking.</p>
  <!-- <img src="/assets/bespoke-logo.png" style="width: 170px;"> -->
</section>

<!-- Centered Tiles -->
<section class="homepage-tiles">
  <div class="tiles-container">
    <a class="tile" href="https://bespokebiltong.com/" target="_blank">Visit the main webiste</a>
  </div>
</section>

{% endblock %}
